<footer class="my-5 pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">© Lucas Abello y Laura Romero Page</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="http://localhost:3000/index_usuario.html">Inicio</a></li>
        <li class="list-inline-item"><a href="http://localhost:3000/votaciones.html">Votacion</a></li>
      </ul>
</footer>